# Detect entire series anomalies using Azure Cognitive Services (Anomaly Detector API)

In [1]:
# Import Libraries

import os
from azure.ai.anomalydetector import AnomalyDetectorClient
from azure.ai.anomalydetector.models import DetectRequest, TimeSeriesPoint, TimeGranularity, AnomalyDetectorError
from azure.core.credentials import AzureKeyCredential
import pandas as pd
import numpy as np
from msrest.authentication import CognitiveServicesCredentials

In [2]:
# Create variables for your key as an environment variable, 
# the path to a time series data file 
# and the Azure location of your subscription

SUBSCRIPTION_KEY = "f543655049434464bcddb3e63377e89c"
ANOMALY_DETECTOR_ENDPOINT = "https://anomaly-20-9.cognitiveservices.azure.com/"
#ANOMALY_DETECTOR_ENDPOINT = "https://anomaly-20-9.cognitiveservices.azure.com/anomalydetector/v1.0/timeseries/entire/detect"
TIME_SERIES_DATA_PATH = os.path.join("./", "timeSeries_split.csv")

In [3]:
# Create an Anomaly Detector client

client = AnomalyDetectorClient(AzureKeyCredential(SUBSCRIPTION_KEY), ANOMALY_DETECTOR_ENDPOINT)
#client = AnomalyDetectorClient(CognitiveServicesCredentials(SUBSCRIPTION_KEY), ANOMALY_DETECTOR_ENDPOINT)

In [4]:
# Load in the time series data file

series = []
data_file = pd.read_csv(TIME_SERIES_DATA_PATH, header=0, encoding='utf-8', date_parser=[0])

In [5]:

#data_file.columns = data_file.iloc[0]
#data_file = data_file[1:]

In [6]:
data_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  89 non-null     object
 1   Value     89 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.5+ KB

In [7]:
data_file

                Datetime  Value
0   2004-10-01T01:00:00Z  12379
1   2004-10-01T02:00:00Z  11935
2   2004-10-01T03:00:00Z  11692
3   2004-10-01T04:00:00Z  11597
4   2004-10-01T05:00:00Z  11681
..                   ...    ...
84  2004-10-04T13:00:00Z  15662
85  2004-10-04T14:00:00Z  15803
86  2004-10-04T15:00:00Z  15747
87  2004-10-04T16:00:00Z  15689
88  2004-10-04T17:00:00Z  15617

[89 rows x 2 columns]

In [8]:
for index, row in data_file.iterrows():
    series.append(TimeSeriesPoint(timestamp=row[0], value=row[1]))

In [9]:
# Create a DetectRequest object with your time series
# and the TimeGranularity (or periodicity) of its data points

request = DetectRequest(series=series, granularity=TimeGranularity.hourly)
#request = DetectRequest(series=np.take(series, [0, 8000], axis = 1)), granularity=TimeGranularity.daily)

In [10]:
len(series)

89

In [11]:
for i in range(0, len(series)):

     print(series[i])

{'additional_properties': {}, 'timestamp': '2004-10-01T01:00:00Z', 'value': 12379}
{'additional_properties': {}, 'timestamp': '2004-10-01T02:00:00Z', 'value': 11935}
{'additional_properties': {}, 'timestamp': '2004-10-01T03:00:00Z', 'value': 11692}
{'additional_properties': {}, 'timestamp': '2004-10-01T04:00:00Z', 'value': 11597}
{'additional_properties': {}, 'timestamp': '2004-10-01T05:00:00Z', 'value': 11681}
{'additional_properties': {}, 'timestamp': '2004-10-01T06:00:00Z', 'value': 12280}
{'additional_properties': {}, 'timestamp': '2004-10-01T07:00:00Z', 'value': 13692}
{'additional_properties': {}, 'timestamp': '2004-10-01T08:00:00Z', 'value': 14618}
{'additional_properties': {}, 'timestamp': '2004-10-01T09:00:00Z', 'value': 14903}
{'additional_properties': {}, 'timestamp': '2004-10-01T10:00:00Z', 'value': 15118}
{'additional_properties': {}, 'timestamp': '2004-10-01T11:00:00Z', 'value': 15242}
{'additional_properties': {}, 'timestamp': '2004-10-01T12:00:00Z', 'value': 15375}
{'additional_properties': {}, 'timestamp': '2004-10-01T13:00:00Z', 'value': 15404}
{'additional_properties': {}, 'timestamp': '2004-10-01T14:00:00Z', 'value': 15655}
{'additional_properties': {}, 'timestamp': '2004-10-01T15:00:00Z', 'value': 15739}
{'additional_properties': {}, 'timestamp': '2004-10-01T16:00:00Z', 'value': 15739}
{'additional_properties': {}, 'timestamp': '2004-10-01T17:00:00Z', 'value': 15644}
{'additional_properties': {}, 'timestamp': '2004-10-01T18:00:00Z', 'value': 15353}
{'additional_properties': {}, 'timestamp': '2004-10-01T19:00:00Z', 'value': 15034}
{'additional_properties': {}, 'timestamp': '2004-10-01T20:00:00Z', 'value': 15211}
{'additional_properties': {}, 'timestamp': '2004-10-01T21:00:00Z', 'value': 15349}
{'additional_properties': {}, 'timestamp': '2004-10-01T22:00:00Z', 'value': 14837}
{'additional_properties': {}, 'timestamp': '2004-10-01T23:00:00Z', 'value': 14067}
{'additional_properties': {}, 'timestamp': '2004-10-02T00:00:00Z', 'value': 13147}
{'additional_properties': {}, 'timestamp': '2004-10-02T01:00:00Z', 'value': 12260}
{'additional_properties': {}, 'timestamp': '2004-10-02T02:00:00Z', 'value': 11672}
{'additional_properties': {}, 'timestamp': '2004-10-02T03:00:00Z', 'value': 11352}
{'additional_properties': {}, 'timestamp': '2004-10-02T04:00:00Z', 'value': 11177}
{'additional_properties': {}, 'timestamp': '2004-10-02T05:00:00Z', 'value': 11142}
{'additional_properties': {}, 'timestamp': '2004-10-02T06:00:00Z', 'value': 11331}
{'additional_properties': {}, 'timestamp': '2004-10-02T07:00:00Z', 'value': 11866}
{'additional_properties': {}, 'timestamp': '2004-10-02T08:00:00Z', 'value': 12387}
{'additional_properties': {}, 'timestamp': '2004-10-02T09:00:00Z', 'value': 13144}
{'additional_properties': {}, 'timestamp': '2004-10-02T10:00:00Z', 'value': 13712}
{'additional_properties': {}, 'timestamp': '2004-10-02T11:00:00Z', 'value': 14082}
{'additional_properties': {}, 'timestamp': '2004-10-02T12:00:00Z', 'value': 14080}
{'additional_properties': {}, 'timestamp': '2004-10-02T13:00:00Z', 'value': 14056}
{'additional_properties': {}, 'timestamp': '2004-10-02T14:00:00Z', 'value': 13934}
{'additional_properties': {}, 'timestamp': '2004-10-02T15:00:00Z', 'value': 13758}
{'additional_properties': {}, 'timestamp': '2004-10-02T16:00:00Z', 'value': 13579}
{'additional_properties': {}, 'timestamp': '2004-10-02T17:00:00Z', 'value': 13620}
{'additional_properties': {}, 'timestamp': '2004-10-02T18:00:00Z', 'value': 13483}
{'additional_properties': {}, 'timestamp': '2004-10-02T19:00:00Z', 'value': 13379}
{'additional_properties': {}, 'timestamp': '2004-10-02T20:00:00Z', 'value': 13825}
{'additional_properties': {}, 'timestamp': '2004-10-02T21:00:00Z', 'value': 14056}
{'additional_properties': {}, 'timestamp': '2004-10-02T22:00:00Z', 'value': 14015}
{'additional_properties': {}, 'timestamp': '2004-10-02T23:00:00Z', 'value': 12940}
{'additional_properties': {}, 'timestamp': '2004-10-03T00:00:00Z', 'value': 12172}
{'additional_properties': {}, 'timestamp': '2004-10-03T01:00:00Z', 'value': 11443}
{'additional_properties': {}, 'timestamp': '2004-10-03T02:00:00Z', 'value': 10807}
{'additional_properties': {}, 'timestamp': '2004-10-03T03:00:00Z', 'value': 10600}
{'additional_properties': {}, 'timestamp': '2004-10-03T04:00:00Z', 'value': 10438}
{'additional_properties': {}, 'timestamp': '2004-10-03T05:00:00Z', 'value': 10430}
{'additional_properties': {}, 'timestamp': '2004-10-03T06:00:00Z', 'value': 10509}
{'additional_properties': {}, 'timestamp': '2004-10-03T07:00:00Z', 'value': 10795}
{'additional_properties': {}, 'timestamp': '2004-10-03T08:00:00Z', 'value': 11288}
{'additional_properties': {}, 'timestamp': '2004-10-03T09:00:00Z', 'value': 11965}
{'additional_properties': {}, 'timestamp': '2004-10-03T10:00:00Z', 'value': 12493}
{'additional_properties': {}, 'timestamp': '2004-10-03T11:00:00Z', 'value': 12722}
{'additional_properties': {}, 'timestamp': '2004-10-03T12:00:00Z', 'value': 12908}
{'additional_properties': {}, 'timestamp': '2004-10-03T13:00:00Z', 'value': 12997}
{'additional_properties': {}, 'timestamp': '2004-10-03T14:00:00Z', 'value': 12924}
{'additional_properties': {}, 'timestamp': '2004-10-03T15:00:00Z', 'value': 12759}
{'additional_properties': {}, 'timestamp': '2004-10-03T16:00:00Z', 'value': 12605}
{'additional_properties': {}, 'timestamp': '2004-10-03T17:00:00Z', 'value': 12755}
{'additional_properties': {}, 'timestamp': '2004-10-03T18:00:00Z', 'value': 12795}
{'additional_properties': {}, 'timestamp': '2004-10-03T19:00:00Z', 'value': 12979}
{'additional_properties': {}, 'timestamp': '2004-10-03T20:00:00Z', 'value': 13819}
{'additional_properties': {}, 'timestamp': '2004-10-03T21:00:00Z', 'value': 14237}
{'additional_properties': {}, 'timestamp': '2004-10-03T22:00:00Z', 'value': 13878}
{'additional_properties': {}, 'timestamp': '2004-10-03T23:00:00Z', 'value': 13132}
{'additional_properties': {}, 'timestamp': '2004-10-04T00:00:00Z', 'value': 12351}
{'additional_properties': {}, 'timestamp': '2004-10-04T01:00:00Z', 'value': 11817}
{'additional_properties': {}, 'timestamp': '2004-10-04T02:00:00Z', 'value': 11408}
{'additional_properties': {}, 'timestamp': '2004-10-04T03:00:00Z', 'value': 11261}
{'additional_properties': {}, 'timestamp': '2004-10-04T04:00:00Z', 'value': 11247}
{'additional_properties': {}, 'timestamp': '2004-10-04T05:00:00Z', 'value': 11414}
{'additional_properties': {}, 'timestamp': '2004-10-04T06:00:00Z', 'value': 12283}
{'additional_properties': {}, 'timestamp': '2004-10-04T07:00:00Z', 'value': 13862}
{'additional_properties': {}, 'timestamp': '2004-10-04T08:00:00Z', 'value': 14864}
{'additional_properties': {}, 'timestamp': '2004-10-04T09:00:00Z', 'value': 15046}
{'additional_properties': {}, 'timestamp': '2004-10-04T10:00:00Z', 'value': 15282}
{'additional_properties': {}, 'timestamp': '2004-10-04T11:00:00Z', 'value': 15511}
{'additional_properties': {}, 'timestamp': '2004-10-04T12:00:00Z', 'value': 15621}
{'additional_properties': {}, 'timestamp': '2004-10-04T13:00:00Z', 'value': 15662}
{'additional_properties': {}, 'timestamp': '2004-10-04T14:00:00Z', 'value': 15803}
{'additional_properties': {}, 'timestamp': '2004-10-04T15:00:00Z', 'value': 15747}
{'additional_properties': {}, 'timestamp': '2004-10-04T16:00:00Z', 'value': 15689}
{'additional_properties': {}, 'timestamp': '2004-10-04T17:00:00Z', 'value': 15617}

In [12]:
# Detect anomalies throughout the entire time series, as a batch

print('Detecting anomalies in the entire time series.')

try:
    response = client.detect_entire_series(request)
except AnomalyDetectorError as e:
    print('Error code: {}'.format(e.error.code), 'Error message: {}'.format(e.error.message))
except Exception as e:
    print(e)

if any(response.is_anomaly):
    print('An anomaly was detected at index:')
    for i, value in enumerate(response.is_anomaly):
        if value:
            print(i)
else:
    print('No anomalies were detected in the time series.')

Detecting anomalies in the entire time series.
An anomaly was detected at index:
12
13
14
15
16
17
18
30
31
32
33
54
55
56
57
58
59
60
61
62
63
64

In [13]:
# Detect the anomaly status of the latest data point

print('Detecting the anomaly status of the latest data point.')

try:
    response = client.detect_last_point(request)
except AnomalyDetectorError as e:
    print('Error code: {}'.format(e.error.code), 'Error message: {}'.format(e.error.message))
except Exception as e:
    print(e)

if response.is_anomaly:
    print('The latest point is detected as anomaly.')
else:
    print('The latest point is not detected as anomaly.')

Detecting the anomaly status of the latest data point.
The latest point is not detected as anomaly.

In [14]:
# Detect change points in the data set

print('Detecting change points in the entire time series.')

try:
    response = client.detect_change_point(request)
except AnomalyDetectorError as e:
    print('Error code: {}'.format(e.error.code), 'Error message: {}'.format(e.error.message))
except Exception as e:
    print(e)

if any(response.is_change_point):
    print('An change point was detected at index:')
    for i, value in enumerate(response.is_change_point):
        if value:
            print(i)
else:
    print('No change point were detected in the time series.')

Detecting change points in the entire time series.
No change point were detected in the time series.